.main-content {
    margin-left: 220px; /* Ensure content starts after the navbar */
    padding: 20px;
  }
  
  .device-container {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh; /* Ensure the footer stays at the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer {
    background-color: #0084e0; /* Same blue as the header */
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .router-outlet {
    flex-grow: 1;
    padding-bottom: 50px; /* Reserve space for the footer */
  }
  